@use 'header';
@use 'auth';
@use 'profile';
@use 'phome';
@use 'cards';
@use 'corusel';
@use 'bookingpreview';
@use 'bookingdetails';
@use 'messagedisplay';
@use 'dashboard';
@use 'verification';
@use 'registration';
@use 'variables';
@use 'pagination';
@use 'hero';
@use 'calender';
@use 'updatecab';
@use 'services';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.driver_home_driver_section {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    color: #2c3e50;
    > h2 {
        font-family:
            'Poppins',
            -apple-system,
            BlinkMacSystemFont,
            sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }
}
